/*
 * Refined GitHub - Original Comment Tools
 * Repository: https://github.com/gluons/RefinedGitHub-OriginalCommentTools
 */
@-moz-document domain('github.com') {
	body {
		.write-content .drag-and-drop {
			display: block !important;
		}
		.toolbar-group {
			display: inline-block !important;
			margin-left: 20px !important;

			.toolbar-item {
				display: block !important;
			}
			.refined-github-upload-btn {
				display: none !important;
			}
		}
		.upload-enabled textarea {
			border-bottom: {
				style: dashed !important;
				color: dash_color !important;
			}

			&:focus {
				border-bottom-color: dash_color_focus !important;
			}
		}
	}
}
